{% extends "base.html" %} {% block title %}Pagos SAOS{% endblock %}

{% block main_content %}
<div style="width: 80%; margin: auto;">
    <div class="uk-position-cover uk-position-relative">
        <div class="uk-child-width-expand" uk-grid>
            <div class="uk-width-auto" style="height: 100%; padding-right:0.5rem;">
                <ul class="uk-nav-default" uk-nav>
                    {%for us in usuarios %}
                    <li class="uk-parent">
                        <a href> {{ us.nombre + ' ' + us.apellido }} <span uk-nav-parent-icon></span></a>
                        <ul class="uk-nav-sub">
                            {%for ulti in ultima %}
                            {%for ult in ulti %}
                            {%if ult.user == us.nombre + ' ' + us.apellido %}
                            <li><a href="#" onclick="showPanel('{{ ult.cliente.replace(' ','-') }}')">
                                    {{ult.siguiente_cuota_pagar.cliente + ' ' + ult.siguiente_cuota_pagar.lote }}
                                </a></li>
                            {%endif%}
                            {%endfor%}
                            {%endfor%}
                        </ul>
                    </li>
                    {%endfor%}
                </ul>
            </div>
            <div class="uk-width-expand" id="cuotas-content" style="border-left:1px solid rgba(128, 128, 128, 0.312);">
                {%for us in usuarios %}
                {%for ulti in ultima %}
                {%for ult in ulti %}
                {%if ult.user == us.nombre + ' ' + us.apellido %}
                <div id="{{ ult.cliente.replace(' ', '-') }}">
                    <h3 class="uk-heading-bullet uk-font-default">
                        <span class="uk-text-background">{{ ult.siguiente_cuota_pagar.cliente.upper() + ' ' +
                            ult.siguiente_cuota_pagar.lote.upper() }}</span>
                    </h3>
                    <div class="uk-child-width-1-2@m" uk-grid="masonry: pack">
                        <div class="uk-margin-remove">
                            <div class="uk-card uk-card-default uk-card-body uk-box-shadow-large uk-text-small">
                                <h3 class="uk-card-title">
                                    <b><ion-icon name="id-card-outline" size="large"></ion-icon>Datos de cuenta:</b>
                                </h3>
                                <div uk-grid class="uk-child-width-1-3">
                                    <div>
                                        <b>Proyecto:</b><br> {{ ult.siguiente_cuota_pagar.proyecto }}
                                        <br>
                                        <b>Lote:</b><br> {{ ult.siguiente_cuota_pagar.lote }}
                                    </div>
                                    <div>
                                        <b>Fecha inicio:</b><br> {{ ult.siguiente_cuota_pagar.fecha.date() }}
                                        <br>
                                        <b>Plan de cuotas:</b><br> {{ult.siguiente_cuota_pagar.numcuotas }}

                                    </div>
                                    <div>
                                        <b>Valor cuotas:</b><br> {{ ult.siguiente_cuota_pagar.cuotadolar
                                        }} USD
                                        <br>
                                        <b>Saldo parcial:</b><br> {{ ult.saldo_pendiente_cliente }} USD
                                    </div>
                                </div>
                                <hr>
                                <div class="uk-child-width-auto uk-text-small uk-flex-center" uk-grid>
                                    <div>
                                        <b>Pago inicial:</b><br> {{ ult.totalVenta - ult.totalDeuda}} USD
                                    </div>
                                    <div>
                                        <b>Total de venta:</b><br> {{ ult.totalVenta }} USD
                                    </div>

                                    <div>
                                        <b>Total deuda:</b><br> {{ ult.totalDeuda }} USD
                                    </div>

                                    <div>
                                        <b>Saldo pagado:</b><br> {{ ult.saldo_abonado }} USD
                                    </div>

                                </div>
                            </div>
                            <hr>
                            <div style="display: flex; justify-content:center;">
                                <a href="/imprimir_cobranzas/{{ ult.siguiente_cuota_pagar.clienteid }}" target="_blank">
                                    <button class="uk-button uk-button-secondary uk-button-large"
                                        id="generarPDF">Imprimir
                                        estado de cuenta</button>
                                </a>
                            </div>
                        </div>
                        <div uk-grid>
                            {% if ult.ultima_cuota_pagada %}
                            <div>
                                <div class="uk-card uk-card-default uk-card-body uk-box-shadow-large uk-text-small">
                                    <div class="uk-card-badge uk-label-sucess">{{
                                        ult.ultima_cuota_pagada.estadocuota }}
                                    </div>
                                    <h5><b>Última cuota pagada:</b></h5>
                                    <div class="uk-child-width-1-3@m uk-child-width-1-1@s" uk-grid>
                                        <div>
                                            <b>Fecha:</b><br> {{ ult.ultima_cuota_pagada.fechacuota }}
                                        </div>
                                        <div>
                                            <b>Monto:</b><br> {{ ult.ultima_cuota_pagada.cuotapagadadolar }} USD
                                        </div>

                                        <div>
                                            <a href="/imprimir_pago/{{ ult.siguiente_cuota_pagar.clienteid }}"
                                                target="_blank">
                                                <button class="uk-button uk-button-secondary uk-button-small"
                                                    id="generarRecibo">Imprimir recibo</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if ult.siguiente_cuota_pagar %}
                            <div>
                                <div class="uk-card uk-card-default uk-card-body uk-box-shadow-large uk-text-small">
                                    <div class="uk-card-badge uk-label-{{ult.labelColor}}">
                                        {{ult.estado}}
                                    </div>
                                    <h5><b>Siguiente cuota a pagar:</b></h5>
                                    <div class="uk-child-width-1-3@m uk-child-width-1-1@s" uk-grid>
                                        <div>
                                            <b>Fecha:</b><br> {{ ult.siguiente_cuota_pagar.fechacuota }}
                                        </div>
                                        <div>
                                            <b>Monto:</b><br> {{ ult.siguiente_cuota_pagar.cuotadolar }} USD
                                        </div>
                                        <div>

                                            <button class="uk-button uk-button-primary uk-button-small" type="button"
                                                uk-toggle="target: #{{ult.cliente.replace(' ','-')}}">
                                                Registrar pago
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {%endif%}
                {%endfor%}
                {%endfor%}
                {%endfor%}
            </div>
        </div>
        <!-- Modals for each payment -->
        <div>
            {%for ulti in ultima %}
            {%for ult in ulti %}
            <div id="{{ult.cliente.replace(' ', '-')}}" uk-modal>
                <div class="uk-modal-dialog">
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    <div class="uk-modal-header">
                        <h2 class="uk-modal-title">Registrar pago</h2>
                    </div>
                    <form class="uk-form-horizontal"
                        action="/registrar_pago/{{ult.siguiente_cuota_pagar.clienteid}}/{{ult.siguiente_cuota_pagar.idcuota}}"
                        method="POST">
                        <div class="uk-modal-body">
                            <fieldset class="uk-fieldset">
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">Cliente</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input uk-disabled" type="text"
                                            placeholder="{{ult.siguiente_cuota_pagar.cliente}}">
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">Proyecto</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input uk-disabled" type="text"
                                            placeholder="{{ult.siguiente_cuota_pagar.proyecto}}">
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">Lote</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input uk-disabled" type="text"
                                            placeholder="{{ult.siguiente_cuota_pagar.lote}}">
                                    </div>
                                </div>


                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">Monto a pagar</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input uk-disabled" type="text"
                                            placeholder="{{ult.siguiente_cuota_pagar.cuotadolar}}">
                                    </div>
                                </div>

                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">Número de cuota</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input uk-disabled" type="text"
                                            placeholder="{{ult.siguiente_cuota_pagar.idcuota}}">
                                    </div>
                                </div>


                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-stacked-text">Pago en USD</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input uk-form-danger uk-form-width-large" type="number"
                                            placeholder="Monto" name="pagodolares" min="0" required>
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                        <div class="uk-modal-footer uk-text-right">
                            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                            <button class="uk-button uk-button-primary" type="submit">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
            {%endfor%}
            {%endfor%}
        </div>

    </div>
</div>
<script>

    function showPanel(panelId) {
        // Ocultar todos los paneles
        var panels = document.querySelectorAll('#cuotas-content > div');
        panels.forEach(function (panel) {
            panel.style.display = 'none';
        });

        // Mostrar el panel deseado
        var panelToShow = document.getElementById(panelId);
        if (panelToShow) {
            panelToShow.style.display = 'block';
        }
    };
    // Función para ocultar todos los paneles al cargar la página
    window.onload = function () {
        // Obtener todos los paneles
        var panels = document.querySelectorAll('#cuotas-content > div');

        panels.forEach(function (panel, index) {
            // Mostrar el primer panel
            if (index === 0) {
                panel.style.display = 'block';
            } else {
                // Ocultar los demás paneles
                panel.style.display = 'none';
            }
        });

        var urlParams = new URLSearchParams(window.location.search);
        var cliente = urlParams.get("cliente");
        if (cliente) {
            showPanel(cliente)
        }
    };



</script>
{%endblock%}