{% extends "base.html" %} {% block title %}Bienvenido a SAOS{% endblock %}

{% block main_content %}
<div class="dash__div" style="padding-top:1rem; width: 65%;margin: auto;">
    <h1 class="uk-heading-bullet uk-font-default">
        <span class="uk-text-background" style="font-size: smaller;">{{ current_user.nombre.upper() }}: Bienvenid@ a tu
            portal SAOS.</span>
    </h1>
    <div class="uk-text-background uk-text-default">
        Su rol actual es {{ current_user.tipo.upper() }}: A continuación, encontrarás las acciones disponbiles.
    </div>
    <hr class="uk-divider-icon">
    <div class="uk-container uk-container-small uk-position-relative uk-text-small uk-margin-small uk-padding-small">
        <h4 class="uk-heading-line"><span>Usuarios y Permisos</span></h4>
        <p class="'uk-text-justify"> Acceda y administre los diferentes usuarios y permisos de SAOS.</p>
        <div class="uk-child-width-auto uk-text-center admin__dash" uk-grid="masonry: pack" style="font-size: smaller;">
            <div>
                <a href="/sing_up">
                    <div class="uk-card uk-card-hover uk-margin-small">
                        <div class="uk-card-media-top uk-margin-small"
                            style="display: flex; justify-content: center ;align-items: center;">
                            <ion-icon name="person-add-outline" class="ion-icon-xl"></ion-icon>
                        </div>
                        <div class="uk-card-body">
                            <h2 class="uk-card-title">Usuarios</h2>
                            <p>Administra los permisos y usuarios.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <h4 class="uk-heading-line"><span>Cobranzas y Pagos</span></h4>
        <p class="'uk-text-justify"> Genere nuevos planes de cobranza y registre pagos de los clientes activos.</p>
        <div class="uk-child-width-auto uk-text-center admin__dash" uk-grid="masonry: pack" style="font-size: smaller;">
            <div>
                <a href="/admincuotas">
                    <div class="uk-card uk-card-hover uk-margin-small">
                        <div class="uk-card-media-top"
                            style="display: flex; justify-content: center ;align-items: center;">
                            <ion-icon name="calendar-outline" class="ion-icon-xl"></ion-icon>
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Cobranzas</h3>
                            <p>Agrega nuevas cuotas a usuarios.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="/admin_pagos">
                    <div class="uk-card uk-card-hover uk-margin-small">
                        <div class="uk-card-media-top"
                            style="display: flex; justify-content: center ;align-items: center;">
                            <ion-icon name="receipt-outline" class="ion-icon-xl"></ion-icon>
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Registrar pagos</h3>
                            <p>Agrega un nuevo pago y emite una factura.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <h4 class="uk-heading-line"><span>Cash flow</span></h4>
        <p class="'uk-text-justify"> Genere nuevos usuarios de Cash Flow y registre movimientos de los clientes activos.
        </p>
        <div class="uk-child-width-auto uk-text-center admin__dash" uk-grid="masonry: pack" style="font-size: smaller;">
            <div>
                <a href="/cashflow">
                    <div class="uk-card uk-card-hover uk-margin-small">
                        <div class="uk-card-media-top"
                            style="display: flex; justify-content: center ;align-items: center;">
                            <ion-icon name="wallet-outline" class="ion-icon-xl"></ion-icon>
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Cash Flow</h3>
                            <p>Agrega clientos y movimientos.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <h4 class="uk-heading-line"><span>Loteos</span></h4>
        <p class="'uk-text-justify"> Acceda a los loteos, modifique los estados e impresión de estados generales.</p>
        <div class="uk-child-width-auto uk-text-center admin__dash" uk-grid="masonry: pack" style="font-size: smaller;">
            <div class="uk-disabled">
                <a href="#">
                    <div class="uk-card uk-card-hover uk-margin-small">
                        <div class="uk-card-media-top"
                            style="display: flex; justify-content: center ;align-items: center;">
                            <ion-icon name="map-outline" class="ion-icon-xl"></ion-icon>
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Mapas</h3>
                            <p>Agrega un nuevo loteo a la base de datos.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <h4 class="uk-heading-line"><span>Descargas</span></h4>
        <p class="'uk-text-justify"> Acceda a copias de las bases de datos para cada servicio SAOS.</p>
        <div class="uk-child-width-auto uk-text-center admin__dash" uk-grid="masonry: pack" style="font-size: smaller;">
            <div>
                <a href="/admin_descargas">
                    <div class="uk-card uk-card-hover uk-margin-small">
                        <div class="uk-card-media-top"
                            style="display: flex; justify-content: center ;align-items: center;">
                            <ion-icon name="download-outline" class="ion-icon-xl"></ion-icon>
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Descargas</h3>
                            <p>Visualiza, filtra y descarga datos.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}