{% extends "base.html" %} {% block title %}Admin SAOS{% endblock %}

{% block main_content %}

<script type="text/javascript" src="{{ url_for('static', filename='js/tabla-users.js')}}"> </script>

<div
    style="display:flex; padding-left: 1rem; padding-top:1rem; width: 95vw; height: 70vh; margin:auto; justify-content:center;">
    <div style="border-right: 1px solid rgba(0,0,0,0.2); padding-right:1rem;">
        <form action="new_user" method='POST'>
            <fieldset class="uk-fieldset">
                <legend class="uk-legend">Registrar un nuevo usuario</legend>
                <div class="uk-form-controls">
                    <label class="uk-form-label" for="form-stacked-text">Nombre(s)</label>
                    <input type="text" class="uk-input uk-form-small" name="nombre" placeholder="Ingrese nombre(s)">
                </div>

                <div class="uk-form-controls">
                    <label class="uk-form-label" for="form-stacked-text">Apellido(s)</label>
                    <input type="text" class="uk-input uk-form-small" name="apellido" placeholder="Ingrese apellido(s)">
                </div>

                <div class="uk-form-controls">
                    <label class="uk-form-label" for="form-stacked-text">Email</label>
                    <input type="email" class="uk-input uk-form-small" name="email"
                        placeholder="Ingrese correo electrónico">
                </div>
                <br>

                <div class="uk-form-controls">
                    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                        <label class="uk-form-label" for="form-stacked-text">Rol</label>
                        <label><input class="uk-radio" type="radio" name="rol" value="admin" checked>
                            Administrador
                        </label>
                        <label><input class="uk-radio" type="radio" name="rol" value="user"> Usuario
                        </label>
                    </div>

                </div>

                <div class="uk-form-controls">
                    <label class="uk-form-label" for="form-stacked-text">Contraseña</label>
                    <input type="password" class="uk-input uk-form-small" name="password1"
                        placeholder="Ingrese contraseña segura">
                </div>

                <div class="uk-form-controls">
                    <label class="uk-form-label" for="form-stacked-text">Confirmar contraseña</label>
                    <input type="password" class="uk-input uk-form-small" name="password2"
                        placeholder="Repita contraseña segura">
                </div>
                <br />
            </fieldset>
            <button type="submit" class="uk-button uk-button-secondary .uk-width-1-1">Agregar usuario
            </button>
        </form>
    </div>
    <div>
        <ul uk-tab style="padding-left: 2rem;">
            <li id='irusuarios' class="uk-active"><a href="#usuarios">Usuarios</a></li>
            <li id='irpermisos'><a href="#permisos">Permisos</a></li>
            <li id='irmapas'><a href="#mappermits">Mapas</a></li>
        </ul>
        <ul class="uk-switcher uk-margin">
            <li id="tabusuarios">
                <div id='usuarios'
                    style="display:flex; padding-left: 2rem; padding-top: 0.5rem; width: 65vw; height: 70vh;">
                    <div class="uk-overflow-auto" style="justify-content:center; width:100%;">
                        <table id="tabla-users" class="uk-table uk-table-small uk-table-divider uk-table-shrink">
                            <thead>
                                <tr>
                                    <th>Nombre(s)</th>
                                    <th>Apellido(s)</th>
                                    <th>Email</th>
                                    <th>Roles</th>
                                    <th>Fecha</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for usuario in tablaUsers%}
                                <tr>
                                    <td>{{usuario.nombre}}</td>
                                    <td>{{usuario.apellido}}</td>
                                    <td>{{usuario.email}}</td>
                                    <td>{{usuario.tipo}}</td>
                                    <td>{{usuario.date}}</td>
                                    <td>
                                        <div style="display:flex; justify-content: center;">
                                            {%if usuario.tipo=='admin' %}
                                            <a href="#" class="edit-link" data-user-id="{{ usuario.id }}">
                                                <button class="uk-button-small uk-button-default"
                                                    type="submit">Editar</button>
                                            </a>
                                            {% else %}
                                            <a href="/edit_user/{{ usuario.id }}">
                                                <button class="uk-button-small uk-button-default"
                                                    type="submit">Editar</button>
                                            </a>
                                            {% endif %}
                                            <a href="/delete_user/{{ usuario.id }}">
                                                <button class="uk-button-small uk-button-danger deleteUser"
                                                    type="submit">Elimnar</button>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </li>
            <li id="tabpermisos">
                <div id="permisos"
                    style="display:flex; padding-left: 2rem; padding-top: 0.5rem; width: 60vw; height: 70vh; justify-content:center;">
                    <div class="uk-overflow-auto" style="justify-content:center; width:100%;">
                        <p class=" uk-text-warning">Para modificar los permisos, hagalo usuario a usuario.</p>
                        <table id="tabla-permits" class="uk-table uk-table-small uk-table-divider">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Mapas</th>
                                    <th>Cobranzas</th>
                                    <th>Cash flow</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%if permitsUser != ''%}
                                {%for permUser in permitsUser%}
                                {%if permUser.user.tipo != 'superadmin'%}
                                <tr>
                                    <form action="edit_permits" method="POST">
                                        <td> {{ permUser.user.nombre }} </td>
                                        <td style="text-align: center;">
                                            <input name='mapsPermit{{permUser.id}}' class="uk-checkbox" type="checkbox"
                                                {%if permUser.mapas=='Si' %} checked{% endif %} value="Si"></>
                                        </td>
                                        <td style="text-align: center;">
                                            <input name='lotsPermit{{permUser.id}}' class="uk-checkbox" type="checkbox"
                                                {%if permUser.loteos=='Si' %} checked{% endif %} value="Si"></>
                                        </td>
                                        <td style="text-align: center;">
                                            <input name='consPermit{{permUser.id}}' class="uk-checkbox" type="checkbox"
                                                {%if permUser.construccion=='Si' %} checked{% endif %} value="Si"></>
                                        </td>
                                        <td>
                                            <div style="display:flex; justify-content: center;">
                                                <button name="btnId" class="uk-button-small uk-button-default"
                                                    type="submit" value="{{ permUser.id }}">Guardar</button>
                                            </div>
                                        </td>
                                    </form>
                                </tr>
                                {%endif%}
                                {%endfor%}
                                {%endif%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </li>
            <li id="tabmapas">
                <p class=" uk-text-warning" style="padding-left: 2rem;"> A continuación se muestran los usuarios con
                    permiso a loteos. Para
                    modificar los permisos, hagalo usuario a usuario.</p>
                <div id="mappermits" uk-grid>
                    <div class="uk-width-auto">
                        <ul class="uk-tab-left" uk-tab="connect: #content-permits">
                            {%for pu in permitsUser%}
                            {%if pu.mapas == 'Si'%}
                            <li><a href="">{{pu.user.nombre}}</a></li>
                            {%endif%}
                            {%endfor%}
                        </ul>
                    </div>
                    <ul id="content-permits" class="uk-switcher">
                        {%for pu in permitsUser%}
                        {%if pu.mapas == 'Si'%}

                        <li>
                            <div style="display: flex; justify-content: center; width: 50vw;">
                                <form class="uk-form-horizontal" method="POST" action="set_maps_permits/{{pu.id}}">
                                    <legend class="uk-legend">Permisos de mapas disponibles</legend>

                                    {% for pm in permitMapas %}
                                    <div class="uk-margin-small">
                                        <div class="uk-form-label">{{pm.replace('.geojson', '')}}</div>
                                        <div class="uk-form-controls uk-form-controls-text">
                                            <select class="uk-select" name="{{pm + pu.user.nombre}}">

                                                <option {% if pm.replace('.geojson', '' ) in mappermits[pu.id] %}
                                                    selected {% endif %}>Si</option>
                                                <option {% if pm.replace('.geojson', '' ) not in mappermits[pu.id] %}
                                                    selected {% endif %}>No</option>

                                            </select>
                                        </div>
                                    </div>
                                    {%endfor%}
                                    <div>
                                        <button class="uk-button uk-button-secondary uk-width-1-1"
                                            type="submit">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </li>
                        {%endif%}
                        {%endfor%}
                    </ul>
                </div>


            </li>
        </ul>
    </div>
</div>
<script>
    const btnDelete = document.querySelectorAll('.deleteUser');

    if (btnDelete) {
        arrayDelete = Array.from(btnDelete);
        arrayDelete.forEach((btn) => {
            btn.addEventListener('click', (e) => {
                if (!confirm('¿Estás seguro de que quieres eliminar este usuario?')) {
                    e.preventDefault();
                }
            });
        });
    };

    document.addEventListener('DOMContentLoaded', function () {
        // Obtener el parámetro 'tab' de la URL
        const urlParams = new URLSearchParams(window.location.search);
        const tabParam = urlParams.get('tab');

        // Verificar si el parámetro 'tab' es igual a 'permisos'
        if (tabParam === 'permisos') {
            // Obtener el elemento del switcher correspondiente al tab de permisos
            const liSelc = document.getElementById('irpermisos');
            const tabSelc = document.getElementById('tabpermisos');

            const liNoSelec = document.getElementById('irusuarios');
            const tabNoSelc = document.getElementById('tabusuarios');

            liNoSelec.classList.remove('uk-active');
            tabNoSelc.classList.remove('uk-active');

            liSelc.classList.add('uk-active');
            tabSelc.classList.add('uk-active');

        };
        if (tabParam === 'mappermits') {
            const liSelc = document.getElementById('irmapas');
            const tabSelc = document.getElementById('tabmapas');

            const liNoSelec = document.getElementById('irusuarios');
            const tabNoSelc = document.getElementById('tabusuarios');
            liNoSelec.classList.remove('uk-active');
            tabNoSelc.classList.remove('uk-active');

            liSelc.classList.add('uk-active');
            tabSelc.classList.add('uk-active');

            UIkit.notification({
                message:
                    "<span uk-icon='icon: check'></span> Datos guardados correctamente.",
                status: "success",
                timeout: 900,
            });
        }
    });

    $(document).ready(function () {
        $('.edit-link').click(function (event) {
            event.preventDefault();
            var userId = $(this).data('user-id');
            var clave = prompt("Ingrese la clave para modificar al admin:");
            if (clave !== null) {
                $.post('/verificar_clave/' + userId, { clave: clave }, function (data) {
                    if (data.success) {
                        window.location.href = '/edit_user/' + userId;
                    } else {
                        alert('La clave es incorrecta.');
                    }
                });
            }
        });

        $('.delete-link').click(function (event) {
            event.preventDefault();
            if (confirm('¿Estás seguro de que deseas eliminar este usuario?')) {
                window.location.href = $(this).attr('href');
            }
        });
    });


</script>
{% endblock %}