<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.19.2/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.19.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.19.2/dist/js/uikit-icons.min.js"></script>

    <!-- Agregar los estilos CSS de Plotly -->
    <link rel="stylesheet" href="https://cdn.plot.ly/plotly-2.5.1.min.css">

    <style>
        /* Reducir el tamaño de la fuente en las celdas */
        .uk-table td,
        .uk-table th {
            font-size: 12px;
            /* Ajusta el tamaño de la fuente según sea necesario */
        }

        /* Reducir el padding en las celdas */
        .uk-table td,
        .uk-table th {
            padding: 5px 10px;
            /* Ajusta el padding según sea necesario */
        }

        /* Reducir el espaciado entre filas */
        .uk-table tbody tr {
            height: 20px;
            /* Ajusta la altura de las filas según sea necesario */
        }

        .hoja__oficio {
            width: 8in;
            /* Ancho de una hoja tipo oficio en pulgadas */
            height: auto;
            /* Alto de una hoja tipo oficio en pulgadas */
            padding: 1rem;
            margin-top: 110px;
        }

        @media print {
            .encabezado {
                position: fixed;
                top: 1rem;
                left: 1rem;
                right: 1rem;
                /* Color de fondo del encabezado */
                height: 100px;
                /* Altura del encabezado */
                border-bottom: 1px dashed #000000;
                /* Línea de separación */
            }
        }
    </style>
</head>

<body>
    <!-- encabezado -->
    <div class="encabezado" style="padding: 0.5rem; border:1px dashed black; ">
        <div style="display: flex; justify-content:space-between; align-items:center;">
            <div>
                <img src="{{ url_for('static', filename='/media/saos-nuevo-negro.svg') }}"
                    style="height: 4.5rem; width:auto; display: inline-block;" alt="saos-logo">
            </div>
            <div style="width: 65%; text-align:right; font-size:12px;">
                <p>Soluciones empresariales, gestión de cobranzas y administración de negocios.</p>
                <p>Contacto: email: <a href="#" type="mail">info@saos.app</a>; Tel. +54 2945 553029</p>
                <p>Dirección: Av. Alvear 1234, Esquel (Chubut).</p>
            </div>
        </div>
    </div>
    <div class="hoja__oficio">
        <!-- resumen de cuenta -->
        <br>
        <div style="padding: 0.5rem; border:1px dashed black; ">
            <div style="display: flex; justify-content:space-between; align-items:center;">
                <h4>RECIBO</h4>
                <div style="font-size:13px;">
                    <p><b>Fecha de impresión: {{ today }}</b></p>
                </div>
            </div>
            <hr>
            <div style="display: flex; justify-content:space-between; font-size:13px;">
                {% for cli in cliente %}
                {% if loop.first %}
                <div>
                    <p><b>Cliente: </b> {{ cli.cliente }}</p>
                    <p><b>Proyecto: </b>{{ cli.proyecto }}</p>
                    <p><b>Lote: </b>{{ cli.lote }}</p>
                </div>
                {%for dat in dataCliente%}
                <div>
                    <p><b>Deuda total: </b>{{ dat.totalDeuda}} USD</p>
                    <p><b>Saldo parcial: </b>{{dat.saldo_pendiente_cliente}} USD</p>
                    <p><b>Valor cuota: </b>{{dat.siguiente_cuota_pagar.cuotadolar}} USD</p>
                </div>
                <div>
                    <p><b>Fecha inicio: </b>{{dat.fecha_minima}}</p>
                    <p><b>Fecha fin: </b> {{dat.fecha_maxima}}</p>
                </div>
                {%endfor%}
                {% endif %}
                {%endfor%}
            </div>
        </div>

        <!-- detalle de cuota anterior, actual y siguiente -->
        <!-- <br> -->
        <div style="padding: 0.5rem; border:1px dashed black; margin-top:0.3rem; ">
            <h4>Pago actual:</h4>
            <hr>
            <div style="display: flex; justify-content:space-evenly; font-size:13px;">
                {%for dat in dataCliente%}
                <div>
                    {%if dat.ultima_cuota_pagada %}
                    <h5 class="uk-margin-small"><b>Fecha de pago: </b>{{dat.ultima_cuota_pagada.fechacuota}}</h5>
                    <h5 class="uk-margin-small"><b>Monto: </b>{{dat.ultima_cuota_pagada.cuotapagadadolar}} USD
                    </h5>
                    {%endif%}
                </div>
                {%endfor%}
                {%for dat in dataCliente%}
                {%if dat.siguiente_cuota_pagar%}
                <div>
                    <h5 class="uk-margin-small"><b>Siguiente pago: </b>{{dat.siguiente_cuota_pagar.fechacuota}}</h5>
                    <h5 class="uk-margin-small"><b>Valor de cuota: </b>{{dat.siguiente_cuota_pagar.cuotadolar}} USD
                    </h5>
                </div>
                {%endif%}
                {%endfor%}
            </div>
        </div>

        <!-- Firmas -->
        <div style="padding: 0.5rem; border:1px dashed black;font-size:13px;margin-top:0.3rem;">
            <div style="margin: auto; width:50%;">
                <p><b>Recibido por:</b></p><br><br>
                <div style="border-bottom: 1px solid black; width: 100%;"></div>
                <p class="uk-text-small uk-margin-small"><b>Firma y aclaración</b></p>

            </div>
        </div>

        <br><br>

        <div style="padding: 0.5rem; border:1px dashed black; ">
            <div style="display: flex; justify-content:space-between; align-items:center;">
                <h4>RECIBO</h4>
                <div style="font-size:13px;">
                    <p><b>Fecha de impresión: {{ today }}</b></p>
                </div>
            </div>
            <hr>
            <div style="display: flex; justify-content:space-between; font-size:13px;">
                {% for cli in cliente %}
                {% if loop.first %}
                <div>
                    <p><b>Cliente: </b> {{ cli.cliente }}</p>
                    <p><b>Proyecto: </b>{{ cli.proyecto }}</p>
                    <p><b>Lote: </b>{{ cli.lote }}</p>
                </div>
                {%for dat in dataCliente%}
                <div>
                    <p><b>Deuda total: </b>{{ dat.totalDeuda}} USD</p>
                    <p><b>Saldo parcial: </b>{{dat.saldo_pendiente_cliente}} USD</p>
                    <p><b>Valor cuota: </b>{{dat.siguiente_cuota_pagar.cuotadolar}} USD</p>
                </div>
                <div>
                    <p><b>Fecha inicio: </b>{{dat.fecha_minima}}</p>
                    <p><b>Fecha fin: </b> {{dat.fecha_maxima}}</p>
                </div>
                {%endfor%}
                {% endif %}
                {%endfor%}
            </div>
        </div>

        <!-- detalle de cuota anterior, actual y siguiente -->
        <!--  <br> -->
        <div style="padding: 0.5rem; border:1px dashed black; margin-top:0.3rem; ">
            <h4>Pago actual:</h4>
            <hr>
            <div style="display: flex; justify-content:space-evenly; font-size:13px;">
                {%for dat in dataCliente%}
                <div>
                    {%if dat.ultima_cuota_pagada %}
                    <h5 class="uk-margin-small"><b>Fecha de pago: </b>{{dat.ultima_cuota_pagada.fechacuota}}</h5>
                    <h5 class="uk-margin-small"><b>Monto: </b>{{dat.ultima_cuota_pagada.cuotapagadadolar}} USD
                    </h5>
                    {%endif%}
                </div>
                {%endfor%}
                {%for dat in dataCliente%}
                {%if dat.siguiente_cuota_pagar%}
                <div>
                    <h5 class="uk-margin-small"><b>Siguiente pago: </b>{{dat.siguiente_cuota_pagar.fechacuota}}</h5>
                    <h5 class="uk-margin-small"><b>Valor de cuota: </b>{{dat.siguiente_cuota_pagar.cuotadolar}} USD
                    </h5>
                </div>
                {%endif%}
                {%endfor%}
            </div>
        </div>


    </div>
    <!-- Agregar la biblioteca JavaScript de Plotly -->
    <script src="https://cdn.plot.ly/plotly-2.5.1.min.js"></script>
    <script>
        window.onload = function () {
            print();
        };
    </script>
</body>

</html>