{% extends "base.html" %} {% block title %}Bienvenido a SAOS{% endblock %}

{% block main_content %}
<script></script>
<div class="dash__div" style="padding-top:1rem; width: 65%;margin: auto;">
    <h1 class="uk-heading-bullet uk-font-default">
        <span class="uk-text-background">{{ current_user.nombre.upper() }}: Bienvenid@ a tu portal SAOS:</span>
        <hr>
    </h1>
    <p>A continuación, encontrarás los servicios habilitados. Contacta al equipo SAOS para potenciar
        tus servicos.</p>
    <br>
    <div style="display:flex; justify-content: center;">
        <div class="uk-child-width-1-1@s uk-child-width-1-{{ cols }}@m uk-grid-small uk-grid-match" uk-grid
            style="{% if cols == 1 %} width: 25%; {% elif cols == 2 %} width: 50%; {% endif %}">
            <div>
                {% if permits.loteos == 'Si' %}
                <a href="/user_cuotas">
                    <div class="uk-card uk-card-hover">
                        <div class="uk-card-media-top"
                            style="display: flex; justify-content: center ;align-items: center; margin:auto; height:10rem;">
                            <ion-icon name="cash-outline" class="ion-icon-xl"></ion-icon>
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Cobranzas</h3>
                            <p>Tu portal de pago cuotas y estados de cuentas.</p>
                        </div>
                    </div>
                </a>
                {%endif%}
            </div>
            <div>
                {% if permits.mapas == 'Si'%}
                <a href="/maps_users">
                    <div class="uk-card uk-card-hover">
                        <div class="uk-card-media-top"
                            style="display: flex; justify-content: center ;align-items: center; margin:auto; height:10rem;">
                            <ion-icon name="map-outline" class="ion-icon-xl"></ion-icon>
                        </div>

                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Loteos</h3>
                            <p>Gestiona tus ventas en loteos.</p>
                        </div>
                    </div>
                </a>
                {%endif%}
            </div>
            <div>
                {% if permits.construccion == 'Si' %}
                <a href="#">
                    <div class="uk-card uk-card-hover">
                        <div class="uk-card-media-top"
                            style="display: flex; justify-content: center ;align-items: center; margin:auto; height:10rem;">
                            <ion-icon name="cash-outline" class="ion-icon-xl"></ion-icon>
                        </div>

                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Flujo de efectivo</h3>
                            <p>Accede a información actualizada sobre la administración de tus proyectos</p>
                        </div>
                    </div>
                </a>
                {%endif%}
            </div>
        </div>
    </div>
    {% endblock %}